psycopg2-binary
fastapi
uvicorn[standard]
torch
transformers
datasets
bitsandbytes
accelerate
llama-index
llama-index-vector-stores-postgres
llama-index-llms-huggingface
llama-index-embeddings-huggingface